<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'">Home</a>
      <a mat-list-item [routerLink]="'/backtester'">Backtester</a>
      <a mat-list-item [routerLink]="'/'+username+'/strategies'">Strategies</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>BackTrader</span>

      <div id="auth-button-group">
        <div *ngIf="!isLoggedIn()">
          <button mat-button [routerLink]="'/login'">Log in</button>
          <button mat-button [routerLink]="'/register'">Register</button>
        </div> 
        <div *ngIf="isLoggedIn()">
          <button mat-button (click)="logout()">Log out</button>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <alert></alert>
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
