.alert-danger {
    background-color: #f8d7da; /* Red */
}
.alert-success {
    background-color: #d4edda;  
} 
.alert{
    padding: 20px;
    color: gray;
    margin-bottom: 15px;
}

#close-button {
    margin-left: auto; 
    float: right; 
    vertical-align: center;
    cursor: pointer;
}