<form [formGroup]="backtesterForm" (ngSubmit)="startBacktest()">  

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Strategy Name</mat-label>
            <input matInput formControlName="strategyName">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Access Status</mat-label>
            <mat-select formControlName="accessStatus">         
                <mat-option value="public">Public</mat-option> 
                <mat-option value="private">Private</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Start-date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>End-date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Transaction Cost (%)</mat-label>
            <input matInput type="number" formControlName="transactionCost">
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Rebalance Frequency</mat-label>
            <mat-select formControlName="rebalanceFrequency">             
                <mat-option value="monthly">Monthly</mat-option>
                <mat-option value="quarterly">Quarterly</mat-option>        
                <mat-option value="yearly">Yearly</mat-option>                    
            </mat-select>
        </mat-form-field>
    </div>
   
    <div>
        <!-- multiple-select includes form-field and label -->
        <multiple-select
            [formGroup]="backtesterForm" 
            [controlName]="'countries'"
            [label]="'Countries'" 
            [values]="countries" 
            [options]="countryOptions">
        </multiple-select>

        <mat-form-field  appearance="fill">
            <mat-label>Markets</mat-label>
        
            <mat-select #marketSelect formControlName="markets" multiple>
                <div class="select-all">
                    <mat-checkbox [(ngModel)]="allMarketsSelected"
                                    [ngModelOptions]="{standalone: true}"
                                    (change)="marketToggleAllSelection()">Select All</mat-checkbox>
                </div>
                <mat-optgroup *ngFor="let marketGroup of marketGroups" [disabled]="marketGroup.disabled" [label]="marketGroup.name">
                    <mat-option (click)="marketOptionClicked()" *ngFor="let option of marketGroup.options" [value]="option.value">{{ option.label }}</mat-option>
                </mat-optgroup>
                
            </mat-select>
        </mat-form-field>

    </div>
   
    <div>
        <multiple-select 
            [formGroup]="backtesterForm" 
            [controlName]="'sectors'" 
            [label]="'Sectors'"
            [values]="sectors" 
            [options]="sectorsOptions"
            [activeOptions]="sectorsOptions">
        </multiple-select>

        <mat-form-field  appearance="fill">
            <mat-label>Branches</mat-label>
        
            <mat-select #branchesSelect formControlName="branches" multiple>
                <div class="select-all">
                    <mat-checkbox [(ngModel)]="allBranchesSelected"
                                    [ngModelOptions]="{standalone: true}"
                                    (change)="branchesToggleAllSelection()">Select All</mat-checkbox>
                </div>
                <mat-optgroup *ngFor="let branchGroup of branchGroups" [disabled]="branchGroup.disabled" [label]="branchGroup.name">
                    <mat-option (click)="branchOptionClicked()" *ngFor="let option of branchGroup.options" [value]="option.value">{{ option.label }}</mat-option>
                </mat-optgroup>
                
            </mat-select>
        </mat-form-field>

        <!-- <multiple-select 
            [formGroup]="backtesterForm" 
            [controlName]="'branches'" 
            [label]="'Branches'"
            [values]="branches" 
            [options]="branchesOptions">
        </multiple-select>    -->
    </div>

    <app-filter-list 
        #filterList
        (filterOrderEvent)="setFilterOrder($event)"> 
    </app-filter-list>
   
    <button mat-raised-button color="primary" submit>Start Backtest</button>
    <button type="button" (click)="printFormValues()">Test submit</button>
</form>