
<h1>Strategies from people you follow</h1>
<!-- <mat-card class="strategy-card" *ngFor="let strategy of strategies">
    <span id="overview-statistics-span">
        <div><b>Name:</b> {{strategy.metadata.strategyName}} </div>
        <div><b>CAGR:</b> {{(strategy?.result?.cagr | number : '1.2-2')}}</div>
        <div><b>Max Drawdown:</b> {{(strategy?.result?.maxDrawdown | number : '1.2-2')}}</div>
    </span>
    <button id="view-strategy-button" mat-raised-button color="primary" [routerLink]="'/'+strategy.username+'/strategies/'+strategy.metadata.strategyName">View Strategy</button>

</mat-card> -->
<strategy-card *ngFor="let strategy of strategies" [strategy]="strategy"></strategy-card>